<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <title>Жанры</title>
</head>
<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="genre-list">
        <div class="container">
            <ol class="genre-list-list">

            </ol>
        </div>
    </div>
    <div class="add-genre">
        <div class="container">
            <form action="" class="add-genre-form">
                <input type="text" name="genreName" placeholder="Введите жанр...">
                <br><button type="submit">Добавить</button>
            </form>
        </div>
    </div>
    <script src="/js/genres.js"></script>
</body>
</html>