<div class="container">
    <menu class="menu">
        <div class="menu-item">
            <a href="/articles">Статьи</a>
        </div>
        <div class="menu-item">
            <a href="/articles/add">Добавить статью</a>
        </div>
        <div class="menu-item">
            <a href="/authors">Авторы </a>
        </div>
        <div class="menu-item">
            <a href="/genres">Жанры</a>
        </div>
    </menu>
</div>