<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <title>Просмотр статьи</title>
</head>
<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="previous-next">
        <div class="container">
            
        </div>
    </div>
    <section class="view-article">
      <div class="container">
        <div class="name-article">
            
        </div>
        <div class="text-article">
            
        </div>
        <div class="author">
            Автор: <span></span>
        </div>
      </div>  
    </section>
    <div class="comments">
        <div class="container">

        </div>
    </div>
    <div class="add-comment">
        <div class="container">
            <p>Залишіть Ваш коментар</p>
            <form action="" class="add-comment-form">
                <textarea name="commentInput" cols="30" rows="10" placeholder="Введіть коментар сюди.."></textarea>
                <br><button type="submit">Залишити коментар</button>
            </form>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>